@import "./../../sprak-styles/sprak-variables.scss";
.map-search-container {
    background: $color-light;
    box-shadow: 0px 1px 1px $color-medium;
}

.map-results-back {
    background: $color-light;
    border: none;
    color: $color-dark;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: $space-md;
    outline: none;
    width: 100%;
    
    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: $breakpoint-md) {
    .map-search-container {
        display: flex;
        flex-direction: row-reverse;
        height: 90vh;
        overflow: hidden;
    }
    .map-results-wrapper {
        box-shadow: 1px 0px 3px $color-medium;
        display: flex;
        flex-direction: column;
        width: 33.333333%;
    }
}
@media (min-width: $breakpoint-lg) {
    .map-results-wrapper {
        width: 25%;
    }
}