@import "./../../../sprak-styles/sprak-variables.scss";

.filters-wrapper {
    padding: $space-sm;
    z-index: 4;
}
.day-filter-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: $space-sm;
}
.time-filter-wrapper select {
    padding: $space-sm;
    width: 100%;
}


@media (min-width: $breakpoint-md) {
    .filters-wrapper {
        box-shadow: 1px 0px 3px $color-medium;
    }
}