@import "./../../../sprak-styles/sprak-variables.scss";

.result-list {        
    background: $color-light;
}

.text-result {
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media (min-width: $breakpoint-md) {
    .result-list {   
        box-shadow: 1px 0px 3px $color-medium;
        height: 100%;
        flex: 1;
        overflow-y: auto;
        z-index: 3;
    }
}