@import "./../../../sprak-styles/sprak-variables.scss";

.text-result {
    padding: $space-sm;
}

.text-result:last-child {
    border-bottom: none;
}

.text-result-name {
    margin-bottom: $space-sm;
}