@import "./../sprak-styles/sprak-variables.scss";

.site-header {
  background-color: $color-valencia;
  box-shadow: 0px 1px 1px $color-medium;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 4;
}

a.logo {      
  color: $color-white;
  font-family: 'Neucha', sans-serif;
  text-shadow: 1px 1px 1px #302c29;
}

.logo-image {
  height: 50px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 5px solid $color-scooter;
  border-top-color: $color-light;
  animation: spinner .6s linear infinite;
}


//this probably aught to end up in the sprak style guide
.form-element  {
  display: block;
  margin-bottom: $space-lg;
}

.form-label {
  display: block;
  line-height: .8em;
}

.form-element > input {
  margin: 0;
  width: 100%;
}
.form-element > textarea {
  min-height: 100px;
  margin: 0;
  width: 100%;
}