@import "./../../../sprak-styles/sprak-variables.scss";

.admin-location {
    cursor: pointer;
}
.admin-location-name:hover {
    text-decoration: underline;
}

.admin-location-toggle {
    text-align: right;
}